<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.styleru.vitaly.hseday2018" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/crow_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/crow_icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0P0ACJ7gw6ORYjpXW3mSCDhWTVXQqjjE" />

        <activity
            android:name="com.styleru.vitaly.hseday2018.main.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.styleru.vitaly.hseday2018.hse.AboutFacultyActivity" />
        <activity android:name="com.styleru.vitaly.hseday2018.hse.AboutOrganisationActivity" />
    </application>

</manifest>